@import "tailwindcss";

@theme {
    ----breakpoint-sm: 480px;
    ----breakpoint-md: 768px;
    ----breakpoint-lg: 976px;
    ----breakpoint-xl: 1440px;

    --font-sans: "josefin Sans", sans-serif;
    --font-alata: "Alata";
}

.hero {
    background-image: url("./assets/images/desktop/image-hero.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 576px) {
    .hero {
    background-image: url("./assets/images/mobile/image-hero.jpg");
    background-repeat: no-repeat;
    background-position: center;
}
}
